---
interface Props {
  pageTitle?: string
}

import siteInfo from '~/data/site-info.ts'

const { pageTitle } = Astro.props
const { name } = siteInfo
const title = `${pageTitle ? `${name} | ${pageTitle}` : name} $`
---

<meta name="generator" content={Astro.generator} charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/xml+svg" href="/favicon.svg" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={name}
  href={new URL('blog/feed.xml', Astro.site)}
/>
<title>{title}</title>
